@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav ul{
		justify-content: flex-end;
		flex-direction: row;
	}
	nav ul{
		flex: 1 1 100%;
	}
    main{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
