:root {
    --heading-font: "Montserrat", serif;
    --paragraph-font: "Lora", serif;
    --main-color: #008080;
    --soft-color: #FF7F50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

h2 {
    font-family: var(--heading-font);
}

.me_all .me_pe {
    width: 250px;
    border-radius: 10px;
}

main {
    max-width: 100%;
    display: block;
}

.allcont {
    max-width: 900px;
    display: block;
    margin: auto;
    padding: 50px;
}

.intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.intro_cover {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;

}

.buttons {
    display: flex;
    gap: 30px;
    padding-left: 50px;

}

.button {
    text-align: center;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.button a {
    font-family: var(--heading-font);
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 5px;

}

.buttons .button:hover {
    cursor: pointer;
    font-weight: 500;
    font-size: larger;
    background-color: var(--soft-color);
}

.image_intro {
    display: flex;
    padding: 50px;
    gap: 60px;
}

.ex_skills {
    background-color: #0b939367;
    width: 100%;
    border-radius: 5px;
    padding: 50px;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
}

.setskills {
    text-align: center;
    display: flex;
    gap: 15px;
}

.yes {
    background-color: #FF7F50;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 9px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.yes p {
    font-size: 8px;
    color: #073737;
    font-family: var(--heading-font);
}

.soft {
    display: flex;
    gap: 50px;
}

.soft_icons {
    display: flex;
    gap: 15px;
}

.edu {
    display: flex;
    gap: 50px;
    padding: 30px;
}

.edu_list {
    display: flex;
    gap: 20px;

}

.i {
    font-style: italic;
}

@media (max-width: 750px) {
    .image_intro {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .skills {
        flex-direction: column;
        gap: 20px;
    }

    .setskills {
        flex-direction: column;
        padding: 0;
        gap: 10px;

    }

    .yes {
        padding: 5px;
    }

    .soft {
        flex-direction: column;
        gap: 20px;
    }

    .soft_icons {
        flex-direction: column;
        margin: auto;
        gap: 10px;
    }

    .soft_icons img {
        width: 90px;
        max-width: 100px;
    }

    .edu {
        flex-direction: column;
        gap: 20px;
    }

    .edu_list {
        flex-direction: column;
        gap: 10px;
    }

}