@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/alegreya/v36/4UacrEBBsBhlBjvfkQjt71kZfyBzPgNG9hUI_A.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}

:root {
    --primary-color: #e7cba1;
    --secondary-color: #222D52;
    --accent1-color: #FDFFFF;
    --back-color: #f3f1ed;

    --heading-font: Montserrat, sans-serif;
    --paragraph-font: Alegreya, sans-serif;
}

h1,
h2,
p {
    font-family: var(--heading-font);
    font-size: medium;
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    height: 100vh;
    grid-auto-rows: max-content;
}

header {
    background: var(--primary-color);
    padding-top: 1rem;
    grid-column: 1 / 4;
    text-align: center;
}


nav {
    font-family: var(--heading-font);
    font-size: small;
    text-align: center;
    display: flex;
    background-color: var(--secondary-color);
    grid-column: 1/4;
    margin-top: 1rem;
}

nav a {
    float: left;
    display: flex;
    color: var(--accent1-color);
    text-decoration: none;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: black;
}

main {
    grid-column: 1 / 4;
    background: var(--back-color);
    padding: 1rem;
    display: grid;
    grid-auto-rows: max-content;
}

.about-card,
.resource-card {
    border: 1px solid rgb(234, 209, 101);
    border-radius: 12px;
    margin: 5px;

}

.about-card {
    display: grid;
    grid-auto-rows: max-content;
    background: var(--accent1-color);
    grid-column: 1 / 2;
}

p,
ul {
    font: var(--paragraph-font);
    grid-column: 1 / 2;
    font-size: small;
    font-style: normal;
}

.about-card p {
    padding-left: 20px;
    padding-top: 20px;
}

img {
    grid-column: 2 / 3;
    padding: 1rem;
    width: 150px;
}

.resource-card {
    background: var(--accent1-color);
    grid-column: 2 / 3;
}

.country-info {
    grid-column: 1 / 3;
    display: grid;
    grid-auto-rows: max-content;
    border-radius: 12px;
    background: var(--accent1-color);
    padding-right: 20px;
}

.heading {
    grid-column: 1 / 3;
    width: 70%;
    justify-self: center;
    margin: 0px;
}

hr {
    border: 1px solid rgb(245, 240, 240);
    margin: 4px;
}

.country-header {
    grid-column: 1 / 3;
    text-align: center;
}

.flag,
.flag-name {
    grid-column: 1 / 2;
}

.flag p {
    margin: 2px;
    padding-bottom: 10px;
}

.flag img {
    padding-bottom: 2px;
}

.country {
    grid-column: 2 / 3;
    padding-bottom: 20px;
}

div {
    background: var(--primary-color);
    padding: 0.5rem;
    grid-column: 1 / 3;
    border-radius: 12px 12px 0px 0px;
    text-align: center;
}

footer {
    background: var(--secondary-color);
    color: var(--accent1-color);
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
}